*{
     margin:0%; 
     padding: 0%;
}

header{
    width: 100vw;
    height: 10vh;
    position: fixed;
    background-color: burlywood;
}

#titulo{
    font-size: 22px;
    padding-right: 1vh;
    font-family: DejaVu Sans Mono, monospace;
    padding-bottom: 1vw;
    float: left;
    padding-top: 0%;
}
header div{
    float: left;
}
h1{
    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
p{
    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a{
    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#logo img{
    padding-top: 0vh;
    margin-left: 1%;
    height: 11vh;
    width: 12vh;
}
nav{
    width: 100vw;
    grid-column: span 6;
    padding-top: 1vh;
    padding-bottom: 2vh;
    height: 6vh;
    background-color: burlywood;
    padding-right: 2vh;
}
nav ul li{
    list-style: none;
    display: inline;
    width: 20vh;
    padding-right: 4vh;
}
ul li a:hover{
    color: #fff;
    background-color:sandybrown;
    font-size: 20px;
}
nav ul li a{
    text-decoration: none;
    color:black;
    font-size: 20px;
} 
nav ul li ul{
    display: none;
}
div img{
    width: 30vw;
}

  /*sobre*/

.containers img{
    width: 280px;
    padding-top: 5vw;
    padding-bottom: 4vw;
    margin-left: 10%;
}
.containers{
    padding-top: 22vw;
    padding-bottom: 8vw;
    padding-left: 2vh;
}
.containers p{
    text-align: justify;
    margin-left: 6%;
    margin-right: 9%;
    padding-top: 2vh;
    padding-bottom: 4vh;
    display: hidden;
} 
#hr{
    display: hidden;
}

    /*palestra*/

.containerp{
    padding-top: 8vw;
    padding-left: 6vh;
    padding-bottom: 8vh;
    background-color: rgb(255 255 177);
    flex-wrap: wrap;
}
.containerp img{
    width: 280px;
    padding-top: 5vw;
    padding-bottom: 4vw;
}  
h2{
    padding-top: 5vh;
    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    margin-left: 18%;
}

  /*livros*/
            
.containerl img{
    width: 220px;
    padding-top: 3vw;
    padding-bottom: 4vw;
}
.containerl{
    padding-top: 8vw;
    padding-bottom: 8vw;
    margin-left: 12%;
}
.containerl p{
    padding-bottom: 4vw;
    text-align: justify;
    padding-right: 6vh;
}
a:hover{
    color:tomato;
    font-size: 18px;
}

h1{
    margin-left: 6%;
    padding-top: 3vw;
}
#livros{
    padding-top: 4vw;
    padding-bottom: 6vw;
    padding-right: 4vh;
    padding-left: 4vh;
}
footer{
    width:100%;
    padding: 6px;
    background-color: burlywood;
}
footer p{
    text-align: center;
    font-size: 14px;
}

@media only screen and (min-width: 980px){

    #titulo{
        font-size: 23px;
        font-family: DejaVu Sans Mono, monospace;
        padding-top: 4vh;
        margin-left: 0%;
    }
    header{
        width: 100%;
        height: 10vh;
        margin-left: 0%;
        /*  position: fixed;*/
    }
    #logo{
        width: 20vw;
        height: 20vh;
        margin: 0%;
        padding: 0%;
        margin-left: 2vh;
        padding-top: 1vh;
    }
    nav{
        grid-column: span 6;
        height: 9vh;
        background-color: burlywood;
        position: inline;
    }
    nav ul li{
        list-style: none;
        padding-left: 30vh;
        padding-bottom: 1vh;
    }
    nav ul li a{
        text-decoration: none;
        color:black;
        font-size: 18px; 
    }
    ul li a:hover{
        color: #fff;
        background-color:sandybrown;
        font-size: 22px;
    }
    div img{
        width: 30vw;
    }

    /* sobre */

    .containerf{
        float: left;
        justify-content: space-around;
    }
    .containers{
        padding-top: 12vh;
        margin-left: 2%;
        flex-wrap: wrap;
    }
    .containers img{
        width: 280px;
        margin: 0%;
        padding: 0%;
    }
    .containers p{
        margin: 0%;
        padding: 0%;
    }  

     /* palestra */

    .container-flex{
        float: left;
        justify-content: space-around;
        width: 30%;
    }
    .containerp{
        padding-top: 3vh;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .containerp img{
        width: 60%;
    }
    .container-flex img{
        padding: 0%;
        margin: 0%;
        justify-content: space-between;
    }    
        
     /* livros */

    .containerl img{
        padding: 0%;
        margin-left: 18vh;
    }
    .container{
        justify-content: space-around;
        float: left;
        width: 30%;
    }
    .containerl{
        margin-left: 20vh;
        padding-top: 6vh;
        float:inline;
        flex-wrap: wrap;
    }
    .containerl p{
        text-align: justify;
        justify-content: space-between;
        padding: 0%;
        margin-left: 1vh;
        margin-right: 1vh;
       
    }
    h1{
        padding: 0%;
        margin: 0%;
    }
    #livros{
        padding: 0%;
        margin: 0%;
    }
    footer{
        width: 100%;
        padding-bottom: 0%;
    }
    footer p{
        text-align: inline;
        font-size: 14px;
    }

}
